[submodule "src/modules"]
	path = src/modules
	url = https://github.com/AppiumTestDistribution/device-farm-pro.git
[submodule "appium-dashboard"]
	path = appium-dashboard
	url = https://github.com/AppiumTestDistribution/appium-dashboard
